.header__logo {
    width: 142px;
    height: 33px;  
  }
  
  @media screen and (max-width: 767px) {
    .header__logo {
      margin-left: 40px;
    }  
  }
  
  @media screen and (max-width: 424px) {
    .header__logo {
      width: 104px;
      height: 24px;
      margin-left: 27px;
    }  
  }