.profile__user-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 30px;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .profile__user-info {
      justify-content: center;
      margin: 26px auto 0;
      align-items: center;
    }  
  }

  @media screen and (max-width: 424px) {
    .profile__user-info {
      max-width: 282px;
    }  
  }