.auth__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 433px;
    max-height: 510px;
    background-color: #000000;
      
  }

  @media screen and (max-width: 767px) {
    .auth__form {
      width: 282px;
      height: 322px;
    }  
}
