.footer {
    max-width: 100%;
    margin: 0 auto;
    }  
  
  @media screen and (max-width: 1023px) {
  .footer {
    max-width: 100%;
    padding-left: 20px;
    }
  }  
  
  @media screen and (max-width: 424px) {
  .footer {
    max-width: 282px;
    margin: 0 auto;
    padding-left: 0;
    }
  }