.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: 0;
    padding: 0;
    width: 430px;
    max-height: 330px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);  
  }

  @media screen and (max-width: 767px) {
    .popup__form {
      width: 282px;
      height: 322px;
    }  
  }