.header {    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;       
}

.header::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #545454;
    opacity: .7;    
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }  
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 767px;
    min-height: 56px;
    padding-left: 0;
    padding-right: 0;
  }  
}

@media screen and (max-width: 424px) {
  .header {
    max-width: 100%;    
  }  
}