.profile__avatar-edit-icon {
  background-image: url('../../../images/avatar-edit-button.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.8);    
}


.profile__avatar-edit-icon:hover {
    opacity: 1;
}
